In [50]:
import numpy as np
import pandas as pd

# Getting the data
pop_census= pd.read_csv("../datasets/US_Census_Population_2022.csv")
pop_census = pop_census.iloc[2:]
pop_census.head()

,GEO_ID,NAME,DP05_0001E,DP05_0001M,DP05_0002E,DP05_0002M,DP05_0003E,DP05_0003M,DP05_0004E,DP05_0004M,...,DP05_0087PM,DP05_0088PE,DP05_0088PM,DP05_0089PE,DP05_0089PM,DP05_0090PE,DP05_0090PM,DP05_0091PE,DP05_0091PM,Unnamed: 366
2,1400000US48201100001,Census Tract 1000.01; Harris County; Texas,5256,526,3488,396,1768,355,197.3,46.1,...,1.5,(X),(X),4460,(X),66.4,5.8,33.6,5.8,NaN
3,1400000US48201210400,Census Tract 2104; Harris County; Texas,3983,719,1976,364,2007,488,98.5,24.3,...,2.2,(X),(X),2641,(X),54.9,6.9,45.1,6.9,NaN
4,1400000US48201210500,Census Tract 2105; Harris County; Texas,4711,670,2483,445,2228,344,111.4,20.0,...,1.1,(X),(X),3007,(X),51.4,6.3,48.6,6.3,NaN
5,1400000US48201210600,Census Tract 2106; Harris County; Texas,5821,1491,3250,1022,2571,622,126.4,31.9,...,4.8,(X),(X),3929,(X),53.6,6.6,46.4,6.6,NaN
6,1400000US48201210700,Census Tract 2107; Harris County; Texas,2534,475,1337,299,1197,242,111.7,23.3,...,3.5,(X),(X),1714,(X),55.7,5.4,44.3,5.4,NaN

In [51]:
def clear_geoid_metadata(census_data):
    return census_data.GEO_ID.map(lambda id : id[9:])

In [52]:
# Getting rid of metadata in front of the 11-digit GEOID
parsed_geoids = clear_geoid_metadata(pop_census)
print(parsed_geoids)

2       48201100001
3       48201210400
4       48201210500
5       48201210600
6       48201210700
           ...
1112    48201980100
1113    48201980200
1114    48201980300
1115    48201980400
1116    48201980700
Name: GEO_ID, Length: 1115, dtype: object

In [53]:
# Update Dataframe
pop_census.GEO_ID = parsed_geoids
pop_census.head()

,GEO_ID,NAME,DP05_0001E,DP05_0001M,DP05_0002E,DP05_0002M,DP05_0003E,DP05_0003M,DP05_0004E,DP05_0004M,...,DP05_0087PM,DP05_0088PE,DP05_0088PM,DP05_0089PE,DP05_0089PM,DP05_0090PE,DP05_0090PM,DP05_0091PE,DP05_0091PM,Unnamed: 366
2,48201100001,Census Tract 1000.01; Harris County; Texas,5256,526,3488,396,1768,355,197.3,46.1,...,1.5,(X),(X),4460,(X),66.4,5.8,33.6,5.8,NaN
3,48201210400,Census Tract 2104; Harris County; Texas,3983,719,1976,364,2007,488,98.5,24.3,...,2.2,(X),(X),2641,(X),54.9,6.9,45.1,6.9,NaN
4,48201210500,Census Tract 2105; Harris County; Texas,4711,670,2483,445,2228,344,111.4,20.0,...,1.1,(X),(X),3007,(X),51.4,6.3,48.6,6.3,NaN
5,48201210600,Census Tract 2106; Harris County; Texas,5821,1491,3250,1022,2571,622,126.4,31.9,...,4.8,(X),(X),3929,(X),53.6,6.6,46.4,6.6,NaN
6,48201210700,Census Tract 2107; Harris County; Texas,2534,475,1337,299,1197,242,111.7,23.3,...,3.5,(X),(X),1714,(X),55.7,5.4,44.3,5.4,NaN

In [62]:
# Relevant Population Columns : TOTAL POPULATION
POPULATION_COLUMNS = ["DP05_0001E"]
id_and_pop = pop_census[["GEO_ID"] + POPULATION_COLUMNS]
id_and_pop.head()

        GEO_ID DP05_0001E
2  48201100001       5256
3  48201210400       3983
4  48201210500       4711
5  48201210600       5821
6  48201210700       2534

In [55]:
# getting the poverty data
pov_census = pd.read_csv("../datasets/US_Census_Poverty_2022.csv")
pov_census = pov_census.iloc[2:]
pov_census.GEO_ID = clear_geoid_metadata(pov_census)
pov_census.head()

,GEO_ID,NAME,S1701_C01_001E,S1701_C01_001M,S1701_C01_002E,S1701_C01_002M,S1701_C01_003E,S1701_C01_003M,S1701_C01_004E,S1701_C01_004M,...,S1701_C03_058M,S1701_C03_059E,S1701_C03_059M,S1701_C03_060E,S1701_C03_060M,S1701_C03_061E,S1701_C03_061M,S1701_C03_062E,S1701_C03_062M,Unnamed: 374
2,48201100001,Census Tract 1000.01; Harris County; Texas,4425,527,53,49,18,28,35,42,...,(X),4.9,5.4,33.8,24.3,81.8,12.7,7.8,4.1,NaN
3,48201210400,Census Tract 2104; Harris County; Texas,3983,719,840,434,100,89,740,386,...,(X),0.0,11.5,50.8,24.6,84.9,14.7,18.7,10.9,NaN
4,48201210500,Census Tract 2105; Harris County; Texas,4692,666,982,367,318,160,664,282,...,(X),0.0,16.1,23.1,30.9,85.7,9.5,22.1,9.0,NaN
5,48201210600,Census Tract 2106; Harris County; Texas,5821,1491,1488,554,379,315,1109,499,...,(X),6.1,10.0,0.0,31.4,39.0,30.2,4.2,2.4,NaN
6,48201210700,Census Tract 2107; Harris County; Texas,2522,476,538,202,15,18,523,203,...,(X),0.0,19.9,24.6,35.7,74.1,24.5,19.4,8.1,NaN

In [59]:
POVERTY_COLUMNS = ["S1701_C01_001E"]
pov_frame = pd.DataFrame(pov_census[POVERTY_COLUMNS], columns=POVERTY_COLUMNS)
pov_appended_dataset = pd.concat([id_and_pop, pov_frame], axis=1)
pov_appended_dataset.head()

        GEO_ID DP05_0001E S1701_C01_001E
2  48201100001       5256           4425
3  48201210400       3983           3983
4  48201210500       4711           4692
5  48201210600       5821           5821
6  48201210700       2534           2522

In [238]:
edu_census = pd.read_csv("../datasets/US_Census_Education_2022.csv")
edu_census = edu_census.iloc[2:]
edu_census.GEO_ID = clear_geoid_metadata(edu_census)
edu_census.head()

C:\Users\kaytc\AppData\Local\Temp\ipykernel_13712\374540870.py:1: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621) have mixed types. Specify dtype option on import or set low_memory=False.
  edu_census = pd.read_csv("../datasets/US_Census_Education_2022.csv")

,GEO_ID,NAME,S1501_C01_001E,S1501_C01_001M,S1501_C01_002E,S1501_C01_002M,S1501_C01_003E,S1501_C01_003M,S1501_C01_004E,S1501_C01_004M,...,S1501_C06_060M,S1501_C06_061E,S1501_C06_061M,S1501_C06_062E,S1501_C06_062M,S1501_C06_063E,S1501_C06_063M,S1501_C06_064E,S1501_C06_064M,Unnamed: 770
2,48201100001,Census Tract 1000.01; Harris County; Texas,777,262,46,43,59,33,293,203,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
3,48201210400,Census Tract 2104; Harris County; Texas,334,167,89,78,105,147,106,75,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
4,48201210500,Census Tract 2105; Harris County; Texas,386,219,114,94,200,152,50,68,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
5,48201210600,Census Tract 2106; Harris County; Texas,156,136,0,21,57,71,85,112,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
6,48201210700,Census Tract 2107; Harris County; Texas,176,102,5,9,94,70,77,73,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN

In [239]:
EDUCATION_COLUMNS = ["S1501_C01_004E"]
edu_frame = pd.DataFrame(edu_census[EDUCATION_COLUMNS], columns=EDUCATION_COLUMNS)
coa_dataset = pd.concat([pov_appended_dataset, edu_frame], axis=1)
coa_dataset.head()

        GEO_ID DP05_0001E S1501_C01_004E
2  48201100001       5256            293
3  48201210400       3983            106
4  48201210500       4711             50
5  48201210600       5821             85
6  48201210700       2534             77

In [225]:
# Getting our zipcode & wastewater data
wastewater_data = pd.read_csv("../datasets/UGS_Houston_Wastewater_Data.csv")
wastewater_data.head()

,Date,Zipcode,Viral Load,Positivity Rate,Unvaccinated Rate,Population,Educational attainment,Poverty,Poverty in Texas,Income,Health(lack of health insurance),Health(lack of Health insurance in TX)
0,07/06/2020-07/13/2023,77002,136,16,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,07/06/2020-07/13/2024,77003,112,6,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,07/06/2020-07/13/2025,77004,75,3,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,07/06/2020-07/13/2026,77005,45,29,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,07/06/2020-07/13/2027,77006,50,24,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [226]:
FIRST_ZIP_ROW = 0
ww_data = wastewater_data.iloc[FIRST_ZIP_ROW:, 0:]
ww_data["Zipcode"] = ww_data["Zipcode"].astype(int)
ww_data.head()

,Date,Zipcode,Viral Load,Positivity Rate,Unvaccinated Rate,Population,Educational attainment,Poverty,Poverty in Texas,Income,Health(lack of health insurance),Health(lack of Health insurance in TX)
0,07/06/2020-07/13/2023,77002,136,16,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,07/06/2020-07/13/2024,77003,112,6,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,07/06/2020-07/13/2025,77004,75,3,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,07/06/2020-07/13/2026,77005,45,29,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,07/06/2020-07/13/2027,77006,50,24,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [227]:
import json

# Extracting relevant data from json file
COLLECTIONS_FILE_PATH = "../collections.json"
collections_obj = None
with open(COLLECTIONS_FILE_PATH, 'r') as myfile:
    collections_obj = json.loads(myfile.read())

# JSON Data
USPS_TOKEN = collections_obj["token"]
BASE_URL = collections_obj["base-url"]
BASE_URL_DOMAIN = BASE_URL[8:23]
BASE_URL_PATH = BASE_URL[23:]
ZIP_TO_TRACT_TYPE = collections_obj["zip-to-tract-type"]
TRACT_TO_ZIP_TYPE = collections_obj["tract-to-zip-type"]

In [228]:
import http.client

In [233]:
REQUEST_PATHS = [BASE_URL_PATH + "?" + ZIP_TO_TRACT_TYPE + "&query=", BASE_URL_PATH + "?" + TRACT_TO_ZIP_TYPE + "&query="]
REQUEST_TYPES = ["ztot", "ttoz"] # "zip to tract" (0), and "tract to zip" (1)

# payload = {}
HEADER = {'Authorization' : "Bearer " + USPS_TOKEN}

# returns a Zip to tract request path given the current zipcode
def get_query_string(input_zipcode, type):
    if type is None: 
        print("get_query_string(); Type cannot be None. Returning None.")
        return None

    index = 0
    while (index < len(REQUEST_TYPES) and type != REQUEST_TYPES[index]):
        index += 1

    return REQUEST_PATHS[index] + str(input_zipcode)

def attempt_request(HTTPS_CONN, qs, total_attempts = 1):
    attempts = 0
    success = False
    payload = {}
    while attempts < total_attempts and not success:
        try:
            HTTPS_CONN.request("GET", qs, payload, HEADER)
            response = HTTPS_CONN.getresponse()
            response_decode = response.read().decode("utf-8")
            response_json = json.loads(response_decode)
            json_results = response_json["data"]["results"]
            return json_results
        except (json.decoder.JSONDecodeError):
            print(f"JSONDecodeError {attempts + 1}")
            attempts += 1
    return None

# Extract the JSON file associated with the current zipcode from the USPS crosswalk API
def get_zip_json(HTTPS_CONN, zip):
    payload = {}

    # Making the request and extracting the json
    qs = get_query_string(zip, type="ztot")
    # print(qs)
    return attempt_request(HTTPS_CONN, qs, 5)

# Extract data from the relevant columns from the geoids that map with the zipcode
def make_zip_row(zip_json, geoid_df, columns_to_extract):
    buffer = np.array([0] * len(columns_to_extract))
    # print(f"Number of tracts: {len(zip_json)}")
    for tract in zip_json:
        GEO_ID = tract["geoid"]
        RES_RATIO = tract["res_ratio"]

        geoid_row = geoid_df.loc[geoid_df["GEO_ID"] == GEO_ID][columns_to_extract]
        try:
            geoid_row = geoid_row.values[0].astype(float)
            buffer = np.add(buffer, np.multiply(RES_RATIO, geoid_row))
        except (IndexError):
            print("IndexError? has occured")
            print(f"GEOID: {GEO_ID}")
            print(geoid_row)
    return buffer

# extract the specified columns in columns_to_extract from a given dataframe with a GEOID column
def make_zip_columns(zip_series, geoid_df, columns_to_extract):
    if geoid_df is None: 
        print("make_zip_columns(); function arguments cannot be None. Returning None.")
        return None
    
    CONN = http.client.HTTPSConnection(BASE_URL_DOMAIN)
    out_columns = [] * len(zip_series)
    
    for count, zip in enumerate(zip_series):
        # print(count)
        zip_json = get_zip_json(CONN, zip)
        out = make_zip_row(zip_json, geoid_df, columns_to_extract)
        out_columns.append(out)

    # Make the request and retrieve the json file
    # Iterate through the 'results' section and get each geoid
    # Use our geoid_dif and locate that geoid's row
    # extract the necessary information from that row and partition it based on the residential ratio
    
    CONN.close()
    return out_columns

GEO_ID_COLUMNS_TO_EXTRACT = coa_dataset.columns[1:]
new_zip_columns = make_zip_columns(ww_data["Zipcode"], coa_dataset, GEO_ID_COLUMNS_TO_EXTRACT)
new_zip_cols_df = pd.DataFrame(new_zip_columns, columns=GEO_ID_COLUMNS_TO_EXTRACT)
zip_complete = pd.concat([ww_data, new_zip_cols_df], axis=1)

Number of tracts: 20
JSONDecodeError 1
Number of tracts: 8
Number of tracts: 20
Number of tracts: 13
Number of tracts: 17
JSONDecodeError 1
Number of tracts: 17
Number of tracts: 16
Number of tracts: 12
Number of tracts: 1
Number of tracts: 7
Number of tracts: 7

KeyboardInterrupt:

In [230]:
print(zip_complete)
zip_complete.head()

                      Date  Zipcode  Viral Load  Positivity Rate  \
0    07/06/2020-07/13/2023    77002         136               16
1    07/06/2020-07/13/2024    77003         112                6
2    07/06/2020-07/13/2025    77004          75                3
3    07/06/2020-07/13/2026    77005          45               29
4    07/06/2020-07/13/2027    77006          50               24
..                     ...      ...         ...              ...
96   07/06/2020-07/13/2119    77489         110                5
97   07/06/2020-07/13/2120    77502          83               28
98   07/06/2020-07/13/2121    77504          28                0
99   07/06/2020-07/13/2122    77532         557                8
100  07/06/2020-07/13/2123    77598          69                0

     Unvaccinated Rate  Population  Educational attainment   Poverty  \
0                   13         NaN                      NaN      NaN
1                   18         NaN                      NaN      NaN
2                   40         NaN                      NaN      NaN
3                   13         NaN                      NaN      NaN
4                   15         NaN                      NaN      NaN
..                 ...         ...                      ...      ...
96                  97         NaN                      NaN      NaN
97                  40         NaN                      NaN      NaN
98                  47         NaN                      NaN      NaN
99                  46         NaN                      NaN      NaN
100                 48         NaN                      NaN      NaN

     Poverty in Texas  Income  Health(lack of health insurance)  \
0                 NaN     NaN                               NaN
1                 NaN     NaN                               NaN
2                 NaN     NaN                               NaN
3                 NaN     NaN                               NaN
4                 NaN     NaN                               NaN
..                ...     ...                               ...
96                NaN     NaN                               NaN
97                NaN     NaN                               NaN
98                NaN     NaN                               NaN
99                NaN     NaN                               NaN
100               NaN     NaN                               NaN

     Health(lack of Health insurance in TX)   DP05_0001E  S1701_C01_001E
0                                       NaN  3879.300016     3397.892570
1                                       NaN  2727.913793     2711.033166
2                                       NaN  2704.055687     2400.136003
3                                       NaN  4271.452772     4237.868637
4                                       NaN  2564.726908     2517.532173
..                                      ...          ...             ...
96                                      NaN   133.700261      133.700261
97                                      NaN  5688.639655     5675.943634
98                                      NaN  4480.468530     4395.944578
99                                      NaN  6098.950052     6093.341765
100                                     NaN  3756.670618     3714.095426

[101 rows x 14 columns]

,Date,Zipcode,Viral Load,Positivity Rate,Unvaccinated Rate,Population,Educational attainment,Poverty,Poverty in Texas,Income,Health(lack of health insurance),Health(lack of Health insurance in TX),DP05_0001E,S1701_C01_001E
0,07/06/2020-07/13/2023,77002,136,16,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3879.300016,3397.892570
1,07/06/2020-07/13/2024,77003,112,6,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2727.913793,2711.033166
2,07/06/2020-07/13/2025,77004,75,3,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2704.055687,2400.136003
3,07/06/2020-07/13/2026,77005,45,29,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4271.452772,4237.868637
4,07/06/2020-07/13/2027,77006,50,24,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2564.726908,2517.532173

In [231]:
print(zip_complete.shape)
print(ww_data.shape)

print(len(ww_data["Zipcode"]))

(101, 14)
(101, 12)
101

In [232]:
zip_complete.to_csv("../output/Zip_Key_Demographic_Data_2022.csv", encoding="utf-8")